@import './base.css';
#app {
  font-size: 1rem; /* ToDo: make this a variable? */
  margin: 0 auto;
  font-weight: normal;
}

a :hover {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
